<a href="https://colab.research.google.com/github/clindeman28/stc510/blob/main/Module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [23]:
crime = pd.read_csv('crimestat.csv',engine = 'python',error_bad_lines=False)

Skipping line 131678: unexpected end of data

In [24]:
crime

             INC NUMBER  ...                   PREMISE TYPE
0       201600000052855  ...            SINGLE FAMILY HOUSE
1       201600000594484  ...            SINGLE FAMILY HOUSE
2       201500002102327  ...                      APARTMENT
3       201500002101405  ...            SINGLE FAMILY HOUSE
4       201500002102668  ...            SINGLE FAMILY HOUSE
...                 ...  ...                            ...
131671  201700002024419  ...    DEPARTMENT / DISCOUNT STORE
131672  201700002027239  ...     CONVENIENCE MARKET / STORE
131673  201700002025582  ...                      APARTMENT
131674  201700002024523  ...  ABANDONED/CONDEMNED STRUCTURE
131675  201700002030009  ...            SINGLE FAMILY HOUSE

[131676 rows x 7 columns]

In [22]:
crime.sort_values('ZIP')

             INC NUMBER  ...                         PREMISE TYPE
101036  201700000962962  ...                  SINGLE FAMILY HOUSE
124158  201700001762139  ...         GOVERNMENT / PUBLIC BUILDING
103236  201700001039194  ...              FENCED RESIDENTIAL YARD
25882      201680002460  ...                    PARK / PLAYGROUND
76103   201700000083622  ...  STREET / ROADWAY / ALLEY / SIDEWALK
...                 ...  ...                                  ...
115872  201700001479521  ...                          PARKING LOT
125511  201700001816063  ...         OFFICE / COMMERCIAL BUILDING
63086   201700001136425  ...                            APARTMENT
79792   201700000206086  ...                      SPECIALTY STORE
82369   201700000368400  ...              FENCED RESIDENTIAL YARD

[131676 rows x 7 columns]

In [25]:
crime

             INC NUMBER  ...                   PREMISE TYPE
0       201600000052855  ...            SINGLE FAMILY HOUSE
1       201600000594484  ...            SINGLE FAMILY HOUSE
2       201500002102327  ...                      APARTMENT
3       201500002101405  ...            SINGLE FAMILY HOUSE
4       201500002102668  ...            SINGLE FAMILY HOUSE
...                 ...  ...                            ...
131671  201700002024419  ...    DEPARTMENT / DISCOUNT STORE
131672  201700002027239  ...     CONVENIENCE MARKET / STORE
131673  201700002025582  ...                      APARTMENT
131674  201700002024523  ...  ABANDONED/CONDEMNED STRUCTURE
131675  201700002030009  ...            SINGLE FAMILY HOUSE

[131676 rows x 7 columns]

In [37]:
crime.sort_values(by= ['ZIP','UCR CRIME CATEGORY',])

             INC NUMBER  ...                         PREMISE TYPE
536     201500002122070  ...                                  NaN
1878    201500002177147  ...  STREET / ROADWAY / ALLEY / SIDEWALK
5731    201500002325071  ...                          PARKING LOT
9020    201500002441181  ...                           LIGHT RAIL
9757    201510000020034  ...  STREET / ROADWAY / ALLEY / SIDEWALK
...                 ...  ...                                  ...
125511  201700001816063  ...         OFFICE / COMMERCIAL BUILDING
113612  201700001423294  ...                          PARKING LOT
79792   201700000206086  ...                      SPECIALTY STORE
82369   201700000368400  ...              FENCED RESIDENTIAL YARD
63086   201700001136425  ...                            APARTMENT

[131676 rows x 7 columns]

In [39]:
crime.ZIP.value_counts()

85015.0    6963
85008.0    6320
85009.0    5513
85041.0    5477
85051.0    5389
           ...
85248.0       1
85233.0       1
85226.0       1
85204.0       1
85212.0       1
Name: ZIP, Length: 98, dtype: int64

In [91]:
crm = crime.groupby(['UCR CRIME CATEGORY','ZIP'])

In [92]:
pd.DataFrame(crm.size().reset_index())

     UCR CRIME CATEGORY      ZIP    0
0    AGGRAVATED ASSAULT  85003.0  120
1    AGGRAVATED ASSAULT  85004.0  119
2    AGGRAVATED ASSAULT  85006.0  248
3    AGGRAVATED ASSAULT  85007.0  234
4    AGGRAVATED ASSAULT  85008.0  516
..                  ...      ...  ...
556             ROBBERY  85331.0    1
557             ROBBERY  85337.0    1
558             ROBBERY  85339.0  114
559             ROBBERY  85345.0    1
560             ROBBERY  85353.0   53

[561 rows x 3 columns]

In [94]:
crm.describe()

                           INC NUMBER  ... PREMISE TYPE
                                count  ...         freq
UCR CRIME CATEGORY ZIP                 ...
AGGRAVATED ASSAULT 85003.0        120  ...           42
                   85004.0        119  ...           34
                   85006.0        248  ...           65
                   85007.0        234  ...          104
                   85008.0        516  ...          203
...                               ...  ...          ...
ROBBERY            85331.0          1  ...            1
                   85337.0          1  ...            1
                   85339.0        114  ...           44
                   85345.0          1  ...            1
                   85353.0         53  ...           18

[561 rows x 20 columns]

In [95]:
crm = crm.describe()

In [96]:
crm.to_csv('crimesort.csv')